.square {
  margin-top: 30px;
  border-radius: 10px;
  border: 2px solid #333;
  display: flex;
  justify-content: space-between;
  background-color: yellow;
  margin-bottom: 25px;
  justify-content: center;
}

.mbt-init, .mbt-info, .mbt-contacto {
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 25px;
  border-radius: 10px;
  color: rgb(252, 248, 248);
  font-family: cursive;
  transition: all 0.3s;
}
.mbt-init:hover, .mbt-info:hover, .mbt-contacto:hover {
  opacity: 0.8;
}

.mbt-contacto {
  background-color: darkblue;
}

.mbt-info {
  background-color: gray;
}

.link-github {
  border-radius: 10px;
  padding: 10px;
  margin: 0 5px;
  color: lemonchiffon;
  text-decoration: none;
  background-color: #1d1d1d;
}

.link-twitter {
  border-radius: 10px;
  padding: 10px;
  margin: 0 5px;
  color: lemonchiffon;
  text-decoration: none;
  background-color: #40afe2;
}

.link-facebook {
  border-radius: 10px;
  padding: 10px;
  margin: 0 5px;
  color: lemonchiffon;
  text-decoration: none;
  background-color: #2d30c9;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: url("../assets/fondodeinicio.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}
.body h1 {
  font-size: 60px;
  background-color: rgba(20, 237, 22, 0.768627451);
  text-align: center;
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 20px;
}
.body h2 {
  color: darkmagenta;
  background-color: cornflowerblue;
  text-align: center;
  font-size: 40px;
  padding: 20px;
  border-radius: 10px;
}
.body h3 {
  text-align: center;
  background-color: rgba(217, 20, 20, 0.8588235294);
  border-radius: 10px;
  padding: 20px;
  color: whitesmoke;
}
.body h4 {
  text-align: center;
  background-color: rgba(96, 183, 211, 0.8);
  width: fit-content;
  font-size: 30px;
  padding: 20px;
  border-radius: 10px;
}
.body h5 {
  background-color: rgba(222, 184, 135, 0.7294117647);
  width: fit-content;
  color: black;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
}
.body p {
  line-height: 2;
  color: #f8f9fa;
  background-color: rgba(169, 163, 163, 0.76);
  border-radius: 10px;
  padding: 20px;
}
.body header {
  justify-content: space-between;
}
.body header .nav-cuerpo {
  width: 100%;
  justify-content: end;
}
.body header .content__title {
  font-size: 20px;
  /*background-color: aqua;*/
  color: crimson;
  font-family: cursive;
  text-align: center;
  flex-wrap: nowrap;
}
.body nav ul li {
  display: inline-flex;
  line-height-step: 50px;
  margin: 0 5px;
  text-align: center;
}
.body main section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body main section .grid-item-texto {
  margin: 20px;
}
.body main section .container {
  background-color: antiquewhite;
}
.body main section .grid {
  background-color: rgb(10, 168, 173);
  max-width: 390px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
}
.body main section .grid__item {
  font-size: 50px;
  border: 2px solid blue;
  color: rgb(10, 1, 9);
  justify-items: start;
  font-family: fantasy;
}
.body main .caja {
  background-color: rgb(117, 45, 117);
  width: 18rem;
  height: 20rem;
  padding: 3px;
  border: 10px inset rgb(219, 73, 54);
  margin-right: 15px;
  margin-bottom: 20px;
}
.body .contenedor-img {
  display: flex;
}

.fondo {
  background-image: url(../assets/fondodesesion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.fondo main h1 {
  font-size: 60px;
  text-align: center;
  background-color: rgba(0, 139, 139, 0.7215686275);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}
.fondo main h2 {
  text-align: center;
  background-color: rgba(95, 158, 160, 0.831372549);
  border-radius: 10px;
  padding: 20px;
  color: black;
}
.fondo main p {
  background-color: rgba(255, 250, 240, 0.7294117647);
  color: black;
  border-radius: 10px;
  padding: 20px;
}
.fondo main div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.fondo main .caja {
  background-color: rgb(117, 45, 117);
  width: 18rem;
  height: 20rem;
  padding: 3px;
  border: 10px inset rgb(219, 73, 54);
  margin-right: 15px;
  margin-bottom: 10px;
}
.fondo footer h3 {
  font-size: 20px;
  background-color: rgba(222, 184, 135, 0.7294117647);
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
}
header .nav-cuerpo {
  justify-content: end;
  width: 100%;
}

nav a {
  color: aliceblue;
}
nav ul .negrita {
  font-weight: bold;
}
nav li {
  display: inline-flex;
  width: 150px;
}

main {
  margin: 20px;
}
main p {
  font-size: 18px;
}
main .inicio {
  color: red;
  background-size: cover;
  background-image: url(../assets/imagenfondo.jpeg);
  font-size: 20px;
}
main .inicio li {
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
main .interlineado {
  line-height: 2;
}
main .orden {
  display: flex;
  transform: none;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

.estilo :hover {
  transform: skewy(10deg);
  background-color: aliceblue;
}

.imagen {
  background-image: url(../assets/fondodesesion2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.imagen main h1 {
  font-size: 60px;
  text-align: center;
  background-color: rgba(237, 20, 61, 0.8);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}
.imagen main h3 {
  background-color: #a58b8d;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 15px;
  margin-top: 15px;
}
.imagen main div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.imagen main .cuadro {
  display: inline;
  text-align: center;
}
.imagen .interlineado {
  line-height: 2;
  background-color: rgba(108, 117, 125, 0.8392156863);
  border-radius: 10px;
  padding: 20px;
  color: aliceblue;
}

nav ul {
  display: flex;
  width: 550px;
  justify-content: flex-end;
}

.gusto {
  background-image: url(../assets/gustos1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.gusto main h1 {
  background-color: rgba(10, 159, 204, 0.8);
  border-radius: 10px;
  margin-bottom: 40px;
  text-align: center;
  padding: 20px;
}

.cards__tarjeta {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
}
.cards__tarjeta ul {
  background-color: #198754;
  border-radius: 10px;
  line-height: 2;
  color: aliceblue;
  padding: 40px;
}
.cards__tarjeta h2 {
  color: red;
  text-align: center;
  background-color: rgba(253, 13, 239, 0.7607843137);
  border-radius: 10px;
  padding: 20px;
  color: aliceblue;
}
.cards__tarjeta h3 {
  background-color: rgba(25, 135, 84, 0.8588235294);
  font-size: 25px;
  width: fit-content;
  border-radius: 10px;
  padding: 12px;
  color: aliceblue;
}
.cards__tarjeta .linea {
  display: grid;
  grid-template-columns: repeat(2, 624px);
}

.tarjetas {
  background-color: rgb(230, 166, 166);
  width: 264px;
  border-radius: 20px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 55px;
}

.card__item1 {
  margin: 20px;
}

.card__description {
  margin-top: 20px;
}

.tarjetas small {
  background-color: rgba(13, 202, 240, 0.8901960784);
  color: rgb(0, 0, 0);
  padding: 8px;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 10px;
}

.tarjetas2 {
  background-color: rgb(203, 85, 85);
  width: 264px;
  border-radius: 20px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  padding: 24px;
  padding-top: 46px;
}

.card__item2 {
  margin: 4px;
}

.card__description2 {
  margin-top: 20px;
  color: snow;
}

.tarjetas2 small {
  background-color: rgba(13, 202, 240, 0.8901960784);
  color: rgb(0, 0, 0);
  padding: 8px;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 10px;
}

.link2 {
  color: snow;
}

.tarjetas3 {
  background-color: rgba(77, 209, 103, 0.8);
  width: 264px;
  border-radius: 20px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 60px;
  text-align: center;
  padding-top: 60px;
  color: aliceblue;
}

.card__item3 {
  margin: 20px;
}

.tarjetas3 small {
  background-color: rgba(13, 202, 240, 0.8901960784);
  color: rgb(0, 0, 0);
  padding: 8px;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 10px;
}

.link3 {
  color: aliceblue;
}

.tarjetas4 {
  background-color: rgb(205, 110, 204);
  width: 264px;
  border-radius: 20px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 20px;
}

.card__item4 {
  margin: 20px;
}

.tarjetas4 small {
  background-color: rgba(13, 202, 240, 0.8901960784);
  color: rgb(0, 0, 0);
  padding: 8px;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 10px;
}

.tarjetas5 {
  background-color: rgb(94, 211, 182);
  width: 264px;
  border-radius: 20px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 25px;
}

.card__item5 {
  margin: 20px;
}

.tarjetas5 small {
  background-color: rgba(13, 202, 240, 0.8901960784);
  color: rgb(0, 0, 0);
  padding: 8px;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 10px;
}

.tarjetas6 {
  background-color: rgb(223, 159, 98);
  width: 264px;
  border-radius: 20px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 70px;
  text-align: center;
  padding-top: 50px;
}

.card__item6 {
  margin: 20px;
}

.tarjetas6 small {
  background-color: rgba(13, 202, 240, 0.8901960784);
  color: rgb(0, 0, 0);
  padding: 8px;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 10px;
}

.tarjetas7 {
  background-color: rgb(86, 107, 233);
  width: 264px;
  border-radius: 20px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 70px;
  text-align: center;
  padding-top: 25px;
}

.card__item7 {
  margin: 20px;
}

.card__description7 {
  color: floralwhite;
  padding-top: 25px;
}

.tarjetas7 small {
  background-color: rgba(13, 202, 240, 0.8901960784);
  color: rgb(0, 0, 0);
  padding: 8px;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 10px;
}

.link7 {
  color: #600d15;
}

.tarjetas8 {
  background-color: rgb(203, 113, 113);
  width: 264px;
  border-radius: 20px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 20px;
}

.card__item8 {
  margin: 20px;
}

.tarjetas8 small {
  background-color: rgba(13, 202, 240, 0.8901960784);
  color: rgb(0, 0, 0);
  padding: 8px;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 10px;
}

.tarjetas9 {
  background-color: #6c757d;
  width: 264px;
  border-radius: 20px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 55px;
  text-align: center;
  padding-top: 20px;
}

.card__item9 {
  margin: 20px;
}

.card__description9 {
  color: rgb(241, 241, 239);
  padding-top: 25px;
}

.link9 {
  color: aliceblue;
}

.tarjetas9 small {
  background-color: rgba(13, 202, 240, 0.8901960784);
  color: rgb(0, 0, 0);
  padding: 8px;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 10px;
}

.card__title {
  color: purple;
  font-size: 25px;
  margin-bottom: 20px;
}

.card__header img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card__descrepcion {
  margin-bottom: 30px;
  font-size: 20px;
}

a {
  color: brown;
}

.titulo {
  background-color: cornflowerblue;
  text-align: center;
  font-size: 30px;
}

.sunset {
  background-image: url(../assets/contacto.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.sunset .skin {
  background-color: rgba(255, 235, 205, 0.7882352941);
}

@media (max-width: 1440px) {
  .orden {
    display: flex;
  }
}
@media (max-width: 1320px) {
  .cards__tarjeta .linea {
    grid-template-columns: auto;
  }
}
@media (max-width: 934px) {
  .body .contenedor-img {
    display: grid;
  }
}
@media (max-width: 768px) {
  .body h1 {
    font-size: 20px;
  }
  .imagen main h1 {
    font-size: 20px;
  }
  .fondo main h1 {
    font-size: 20px;
  }
  h3 {
    display: none;
  }
  .body main section {
    flex-direction: column-reverse;
  }
  .body .contenedor-img {
    flex-direction: column;
    width: 100%;
  }
  .fondo main div {
    flex-direction: column;
    margin: 0%;
  }
  .cards__tarjeta .linea {
    grid-template-columns: auto;
  }
  .gusto main h1 {
    font-size: 20px;
  }
  .titulo {
    font-size: 20px;
  }
}
.estilo :hover {
  transition: none;
  transform: none;
}

.ajuste-transform {
  flex-direction: column;
}

.header {
  width: 100%;
}

@media (max-width: 320px) {
  .body {
    grid-template-columns: 1fr;
  }
  .ordenada {
    padding: 22px;
  }
}

/*# sourceMappingURL=style.css.map */
