* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.body {

    font-family: Georgia, 'Times New Roman', Times, serif;
    background: url("../assets/fondodeinicio.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;

    h1 {
        font-size: 60px;
        background-color: #14ed16c4;
        text-align: center;
        margin-bottom: 40px;
        border-radius: 10px;
        padding: 20px;
    }

    h2 {
        color: darkmagenta;
        background-color: cornflowerblue;
        text-align: center;
        font-size: 40px;
        padding: 20px;
        border-radius: 10px;
    }

    h3 {
        text-align: center;
        background-color: #d91414db;
        border-radius: 10px;
        padding: 20px;
        color: whitesmoke;
    }

    h4 {
        text-align: center;
        background-color: #60b7d3cc;
        width: fit-content;
        font-size: 30px;
        padding: 20px;
        border-radius: 10px;
    }

    h5 {
        background-color: #deb887ba;
        width: fit-content;
        color: black;
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 15px;
    }

    p {
        line-height: 2;
        color: #f8f9fa;
        background-color: rgb(169 163 163 / 76%);
        border-radius: 10px;
        padding: 20px;
    }

    header {
        justify-content: space-between;

        .nav-cuerpo {
            width: 100%;
            justify-content: end;
        }

        .content__title {
            font-size: $smallsize;
            /*background-color: aqua;*/
            color: crimson;
            font-family: cursive;
            text-align: center;
            flex-wrap: nowrap;
        }
    }

    nav {
        ul li {
            display: inline-flex;
            line-height-step: 50px;
            margin: 0 5px;
            text-align: center
        }
    }

    main {
        section {
            display: flex;
            justify-content: center;
            align-items: center;

            .grid-item-texto {
                margin: 20px;
            }

            .container {
                background-color: antiquewhite;
            }

            .grid {
                background-color: rgb(10, 168, 173);
                max-width: 390px;
                display: grid;
                grid-template-columns: 1fr;
                justify-items: center;
                align-items: center;
                margin-bottom: 20px;


                &__item {
                    font-size: 50px;
                    border: 2px solid blue;
                    color: rgb(10, 1, 9);
                    justify-items: start;
                    font-family: fantasy;
                }
            }
        }

        .caja {
            background-color: $colorcaja;
            width: 18rem;
            height: 20rem;
            padding: 3px;
            border: 10px inset rgb(219, 73, 54);
            margin-right: 15px;
            margin-bottom: 20px;
        }

    }

    .contenedor-img {
        display: flex;
    }
}

.fondo {
    background-image: url(../assets/fondodesesion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    main {

        h1 {
            font-size: 60px;
            text-align: center;
            background-color: #008b8bb8;
            border-radius: 10px;
            margin-bottom: 20px;
            padding: 20px;
        }


        h2 {
            text-align: center;
            background-color: #5f9ea0d4;
            border-radius: 10px;
            padding: 20px;
            color: black;
        }

        p {
            background-color: #fffaf0ba;
            color: black;
            border-radius: 10px;
            padding: 20px;
        }

        div {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }


        .caja {
            background-color: $colorcaja;
            width: 18rem;
            height: 20rem;
            padding: 3px;
            border: 10px inset rgb(219, 73, 54);
            margin-right: 15px;
            margin-bottom: 10px;

        }
    }

    footer {
        h3 {
            font-size: 20px;
            background-color: #deb887ba;
            width: fit-content;
            border-radius: 10px;
            margin-bottom: 20px;
            padding: 15px;
        }
    }
}


header {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;

    .nav-cuerpo {
        justify-content: end;
        width: 100%;
    }

}

nav {
    a {
        color: $shadowtext;
    }

    ul {

        .negrita {
            font-weight: bold;
        }
    }

    li {
        display: inline-flex;
        width: 150px;
    }
}

main {
    margin: 20px;


    p {
        font-size: 18px;
    }

    .inicio {
        color: red;
        background-size: cover;
        background-image: url(../assets/imagenfondo.jpeg);
        font-size: $smallsize;

        li {
            font-style: italic;
            font-weight: bold;
            text-align: center;
        }
    }

    .interlineado {
        line-height: 2;
    }

    .orden {
        display: flex;
        transform: none;
        color: rgb(0, 0, 0);
        border-radius: 10px;

    }
}


.estilo :hover {
    transform: skewy(10deg);
    background-color: $shadowtext;
}


.imagen {
    background-image: url(../assets/fondodesesion2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    main {
        h1 {
            font-size: 60px;
            text-align: center;
            background-color: #ed143dcc;
            border-radius: 10px;
            margin-bottom: 20px;
            padding: 20px;
        }

        h3 {
            background-color: #a58b8d;
            border-radius: 10px;
            width: fit-content;
            margin-bottom: 20px;
            font-size: 20px;
            padding: 15px;
            margin-top: 15px;
        }

        div {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        .cuadro {
            display: inline;
            text-align: center;
        }
    }

    .interlineado {
        line-height: 2;
        background-color: #6c757dd6;
        border-radius: 10px;
        padding: 20px;
        color: aliceblue;
    }
}

nav {
    ul {
        display: flex;
        width: 550px;
        justify-content: flex-end;
    }
}




.gusto {
    background-image: url(../assets/gustos1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    main {
        h1 {
            background-color: rgba(10, 159, 204, 0.8);
            border-radius: 10px;
            margin-bottom: 40px;
            text-align: center;
            padding: 20px;
        }
    }
}

.cards__tarjeta {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: $smallsize;


    ul {
        background-color: #198754;
        border-radius: 10px;
        line-height: 2;
        color: aliceblue;
        padding: 40px;

    }

    h2 {
        color: red;
        text-align: center;
        background-color: #fd0defc2;
        border-radius: 10px;
        padding: 20px;
        color: aliceblue;
    }

    h3 {
        background-color: #198754db;
        font-size: 25px;
        width: fit-content;
        border-radius: 10px;
        padding: 12px;
        color: aliceblue;
    }

    .linea {
        display: grid;
        grid-template-columns: repeat(2, 624px);
    }

}



.tarjetas {
    background-color: rgb(230, 166, 166);
    width: 264px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 55px;
}

.card__item1 {
    margin: 20px;
}

.card__description {
    margin-top: 20px;
}

.tarjetas small {
    background-color: #0dcaf0e3;
    color: rgb(0, 0, 0);
    padding: 8px;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 10px;
}


.tarjetas2 {
    background-color: rgb(203 85 85);
    width: 264px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    padding: 24px;
    padding-top: 46px;
}

.card__item2 {
    margin: 4px;
}

.card__description2 {
    margin-top: 20px;
    color: snow;
}

.tarjetas2 small {
    background-color: #0dcaf0e3;
    color: rgb(0, 0, 0);
    padding: 8px;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 10px;
}

.link2 {
    color: snow;
}

.tarjetas3 {
    background-color: rgb(77 209 103 / 80%);
    width: 264px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 60px;
    text-align: center;
    padding-top: 60px;
    color: aliceblue;
}

.card__item3 {
    margin: 20px;
}

.tarjetas3 small {
    background-color: #0dcaf0e3;
    color: rgb(0, 0, 0);
    padding: 8px;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 10px;
}

.link3 {
    color: aliceblue;
}

.tarjetas4 {
    background-color: rgb(205 110 204);
    width: 264px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 20px;
}

.card__item4 {
    margin: 20px;
}

.tarjetas4 small {
    background-color: #0dcaf0e3;
    color: rgb(0, 0, 0);
    padding: 8px;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 10px;
}

.tarjetas5 {
    background-color: rgb(94 211 182);
    width: 264px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 25px;
}

.card__item5 {
    margin: 20px;
}

.tarjetas5 small {
    background-color: #0dcaf0e3;
    color: rgb(0, 0, 0);
    padding: 8px;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 10px;
}

.tarjetas6 {
    background-color: rgb(223 159 98);
    width: 264px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 70px;
    text-align: center;
    padding-top: 50px;
}

.card__item6 {
    margin: 20px;
}

.tarjetas6 small {
    background-color: #0dcaf0e3;
    color: rgb(0, 0, 0);
    padding: 8px;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 10px;
}

.tarjetas7 {
    background-color: rgb(86 107 233);
    width: 264px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 70px;
    text-align: center;
    padding-top: 25px;
}

.card__item7 {
    margin: 20px;
}

.card__description7 {
    color: floralwhite;
    padding-top: 25px;
}

.tarjetas7 small {
    background-color: #0dcaf0e3;
    color: rgb(0, 0, 0);
    padding: 8px;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 10px;
}


.link7 {
    color: #600d15;
}

.tarjetas8 {
    background-color: rgb(203 113 113);
    width: 264px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 20px;
}

.card__item8 {
    margin: 20px;
}



.tarjetas8 small {
    background-color: #0dcaf0e3;
    color: rgb(0, 0, 0);
    padding: 8px;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 10px;
}


.tarjetas9 {
    background-color: #6c757d;
    width: 264px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 55px;
    text-align: center;
    padding-top: 20px;
}

.card__item9 {
    margin: 20px;
}

.card__description9 {
    color: rgb(241, 241, 239);
    padding-top: 25px;
}

.link9 {
    color: aliceblue;
}

.tarjetas9 small {
    background-color: #0dcaf0e3;
    color: rgb(0, 0, 0);
    padding: 8px;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 10px;
}

.card__title {
    color: purple;
    font-size: 25px;
    margin-bottom: $smallsize;
}

.card__header img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: $smallsize;
}

.card__descrepcion {
    margin-bottom: 30px;
    font-size: $smallsize;
}

a {
    color: brown;
}

.titulo {
    background-color: cornflowerblue;
    text-align: center;
    font-size: 30px;
}

.sunset {
    background-image: url(../assets/contacto.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .skin {
        background-color: #ffebcdc9;
    }
}