@media (max-width:1440px) {
    h1 {
        font-size: 20px;
    }
}

@media (max-width: 768px) {

    h3 {
        display: none;
    }
}


.body main section {
    display: flex;
    margin: 10px;
    flex-direction: column-reverse;

    .ajuste-transform {
        flex-direction: column;
    }
}

h1 {
    font-size: 20px;
}

.header {
    width: 100%;
}

.cards__tarjeta {
    margin: 80px;
    margin-right: 120px;
}




@media (max-width: 320px) {
    ul {
        display: none;
    }

  


    .body {
        grid-template-columns: 1fr;
    }
}