@media (max-width:1440px) {
    h1 {
        font-size: 20px;
    }
}

.orden {
    display: flex;
}

@media (max-width: 768px) {

    h3 {
        display: none;
    }
}


.body main section {
    display: flex;
    flex-direction: column-reverse;

    .ajuste-transform {
        flex-direction: column;
    }
}

h1 {
    font-size: 20px;
}

.header {
    width: 100%;
}






@media (max-width: 320px) {




    .body {
        grid-template-columns: 1fr;
    }
}