@media (max-width:1440px) {

    .orden {
        display: flex;
    }

    

}

@media (max-width: 768px) {

    .body h1 {
        font-size: 20px;
    }

    .imagen main h1 {
        font-size: 20px;
    }

    .fondo main h1 {
        font-size: 20px;
    }

    h3 {
        display: none;
    }

    .body main section {
        flex-direction: column-reverse
    }

    .body .contenedor-img {
        flex-direction: column;
        width: 100%;
    }

    .fondo main div {
        flex-direction: column;
        margin: 0%;
    }

    .cards__tarjeta .linea {
        grid-template-columns: auto;
    }

    .gusto main h1 {
        font-size: 20px;
    }

    .titulo {
        font-size: 20px;
    }

}

.estilo :hover {
    transition: none;
    transform: none;
}



.ajuste-transform {
    flex-direction: column;
}




.header {
    width: 100%;
}



@media (max-width: 320px) {

    .body {
        grid-template-columns: 1fr;
    }
}